<!DOCTYPE html>



<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">

    <title>
        Robocoin
    </title>

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic" rel="stylesheet">
    <link href="static/css/toolkit-inverse.css" rel="stylesheet">
    <link href="static/css/application.css" rel="stylesheet">
    <link href="static/css/balance.css" rel="stylesheet">

</head>


<body>
    <div class="bw">
        <div class="di">
            <div class="em brh">
                <nav class="bro">
                    <div class="bri">
                        <button class="bqe bqg brj" type="button" data-toggle="collapse" data-target="#nav-toggleable-md">
                          <span class="aep">Toggle nav</span>
                        </button>
                        <a class="brk bsi" href="#">
                            <h1>Robocoin</h1>
                        </a>
                    </div>

                    <div class="collapse bql" id="nav-toggleable-md">
                        <form class="brm">
                            <input class="form-control" type="text" placeholder="Search...">
                            <button type="submit" class="po">
                            </button>
                        </form>
                        <ul class="nav qq nav-stacked xx">
                            <li class="ayx">Dashboards</li>
                            <li class="qp">
                                <a class="qn active" href="index.html">Overview</a>
                            </li>

                            <li class="ayx">More</li>
                            <li class="qp">
                                <a class="qn" href="http://getbootstrap.com" target="blank">
                                  Bootstrap docs
                                </a>
                            </li>
                        </ul>
                        <hr class="bsj afx">
                    </div>
                </nav>
            </div>
            <div class="es bsk">
                <div class="brv">
                    <div class="brw">
                        <h6 class="bry">Dashboards</h6>
                        <h2 class="brx">Overview</h2>
                    </div>

                    <div class="qb brz">
                        <div class="ayt brg">
                            <input type="text" value="Test User" class="form-control">
                        </div>
                    </div>
                </div>

                <hr class="afx">

                <div class="di awt agl">
                    <div id="piechart" style="width: 100%; min-height: 500px"></div>
                </div>

                <div class="brc agl afz">
                    <h3 class="brd bre">Portfolio Details</h3>
                </div>

                <div class="by afz">
                    <h6 class="azi">
                        Portfolio Compositions
                    </h6>

                    <a class="rp tr yg balance_template" href="#" id="balance_template">
                        <span class="balance_ccy">Loading</span>
                        <span class="balance_amt axn"></span>
                    </a>

                </div>
                <a href="#" class="ce pi ahr">View trades</a>
                <hr class="agl">
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.4/lodash.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/accounting@0.4.1/accounting.min.js"></script>
    <script src="static/js/echarts.js"></script>
    <script src="static/js/dark.js"></script>
    <script src="static/js/balance.js"></script>

</body>

</html>